body{
    margin: 0;
    padding: 0;
    background-image: url("../media/img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main{
    background-color: rgb(255, 255, 255);
    width: 65%;
    margin: auto;
    padding-left: 10%;
    padding-top: 5%;
}

.logo{
  width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* FONT STYLES FOR TEXTS AND TITLES */
div.text{
  font-family: "Quattrocento";
  font-size: 1.2em;
  text-align: justify;
  padding-bottom: 0.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5%;
}

div.titles{
  font-family: "Quattrocento";
  font-size: 2em;
  text-align: justify;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 1%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
}

div.subtitles{
  font-family: "Quattrocento";
  font-size: 1.5em;
  text-align: justify;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
}



/* LINKS */
div.text a:link {
  color: blue;
  text-decoration: none;
}

div.text a:visited {
  color: blue;
  text-decoration: none;
}

div.text a:hover {
  color: blue;
  text-decoration: underline;
}



/* IMAGES STRUCTURE */
.images{
  width: 30vw;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  margin-left: 5%;
}



/* BLACKBOX WITH TEXT ON THE LEFT */
div.exercises{
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
}

div.exercises p{
  flex-basis: 50%;
  margin-left: 5%;
  margin-right: 2.5%;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 1.2em;
  text-align: justify;
}

div.exercises div.blackbox{
  flex-basis: 50%;
  height: auto;
  background-color: black;
  color: black;
  transition: 0.5s;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 1.5em;
}

div.exercises div.blackbox:hover{
  background-color: whitesmoke;
  transition: 0.5s;
}



/* MATH FORMULA */
div.formula{
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  font-size: 1.5em;
  text-align: center;
}



/* ADDRESS */
address{
  font-family: "Quattrocento";
  font-size: 1em;
  text-align: justify;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 5%;
}