body{
    margin: 0;
    padding: 0;
    min-width: 783px;
    background-image: url("../media/img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main{
    background-color: rgb(255, 255, 255);
    width: 72%;
    margin: auto;
    padding-left: 18%;
    padding-top: 1%;
}

/* LOGO */
.logolink img{
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logolink a{
  margin-left: 5%;
  margin-right: 10%;
  width: 90%;
  display: inherit;
  display: block;
  height: auto;
}
/* END LOGO */



/* TOP NAVIGATOR */
nav {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
}

nav a {
  flex-basis: 16%;
  text-align: center;
  text-decoration: none;
  padding: 1.5%;
  background-color: grey;
  color: white;
  transition: background-color 0.5s;
  font-size: 1.1em;
  font-family: Roboto;
}

nav a:hover{
  background-color: rgb(0, 174, 255);
  transition: background-color 0.5s;
}

nav a.active{
  background-color: rgb(0, 174, 255);
}
/* END TOP NAVIGATOR */



/*SIDE NAVIGATOR*/
.sidenav {
  float: left;
  margin-top: 1.5%;
  margin-left: 5%;
  width: 15%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 25px;
  background-color: grey;
}

.sidenav a {
  flex-basis: 100%;
  text-align: center;
  text-decoration: none;
  padding: 1.5%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  transition: background-color 0.5s;
  font-size: 1.1em;
  font-family: Roboto;
}

#firstsubpage{
  background-color: grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#lastsubpage{
  background-color: grey;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sidenav a:hover, #firstsubpage:hover, #lastsubpage:hover{
  background-color: rgb(0, 174, 255);
  transition: background-color 0.5s;
}

.sidenav a.active, #firstsubpage.active, #lastsubpage.active{
  background-color: rgb(0, 174, 255);
}
/*END OF SIDE NAVIGATOR*/



/* FONT STYLES FOR TEXTS AND TITLES */
@font-face {
  font-family: Roboto;
  src: url("../media/fonts/Roboto/Roboto-Regular.ttf");
}

div.text, div.longtext, div.standardbox{
  font-family: Roboto;
  font-size: 1.1em;
  text-align: justify;
  padding-bottom: 0.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5%;
}

div.title{
  font-family: Roboto;
  font-size: 2em;
  text-align: justify;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 1%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
}

div.firstsubtitle{
  font-family: Roboto;
  font-size: 1.5em;
  text-align: justify;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
}

div.subtitle{
  font-family: Roboto;
  font-size: 1.5em;
  text-align: justify;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
}

div.textbox div.longtext{
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  height: 350px;
  width: 50%;
  background-color: rgb(235, 235, 235);
}

div.longtext{
  overflow: scroll;
}

div.textbox div.standardbox{
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  width: 50%;
  background-color: rgb(235, 235, 235);
}

div.indexgeneral{
  padding-bottom: 0.5%;
  padding-left: 2.5%;
  padding-right: 5%;
  padding-top: 0.5%;
}

div.index{
  font-family: Roboto;
  font-size: 1.2em;
  margin-bottom: 0.5%;
}
/* END FONT STYLES */



/* LINKS */
div.text a:link, div.text a:visited, div.text a:hover {
  color: blue;
  text-decoration: none;
}

div.text a:hover {
  text-decoration: underline;
}

div.indexgeneral li a:link, div.indexgeneral li a:visited, div.indexgeneral li a:hover {
  color: blue;
  text-decoration: none;
}

div.indexgeneral li a:hover {
  text-decoration: underline;
}
/* END LINKS */



/* IMAGES STRUCTURE */
.images{
  width: auto;
  height: 2vw;
  margin-left: 5%;
}

.centerimagessmall{
  width: auto;
  height: 3vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

.centerimagesbig{
  width: auto;
  height: 5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}
/* END IMAGES STRUCTURE */



/* CODE BOX */
div.codebox {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  background-color: lightgrey;
}

div.codebox p{
  font-size: 1.2em;
  text-align: justify;
  font-family: Roboto;
}
/* CODE BOX */



/* CODE WITH LaTeX PDF FILE */
div.latex {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}

div.latex div.paragraph {
  flex-basis: 40%;
  margin-right: 2.5%;
  padding-bottom: 18%;
  padding-top: 1.5%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  background-color: lightgrey;
}

div.latex div.paragraph p{
  font-size: 1.2em;
  text-align: justify;
  font-family: Roboto;
}

div.latex div.object {
  flex-basis: 40%;
}
/* CODE WITH LaTeX PDF FILE */



/* BLACKBOX WITH TEXT ON THE LEFT */
div.exercises{
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
}

div.exercises p{
  flex-basis: 50%;
  margin-left: 5%;
  margin-right: 2.5%;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 1.1em;
  text-align: justify;
  font-family: Roboto;
}

div.exercises div.blackbox{
  flex-basis: 50%;
  height: auto;
  background-color: black;
  color: black;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.5em;
}

div.exercises div.blackbox img{
  visibility: hidden;
}

div.exercises div.blackbox:hover{
  background-color: lightgrey;
}

div.exercises div.blackbox:hover img{
  visibility: visible;
}

div.exercises div.blackbox img{
  width: 90%;
}
/* END BLACKBOX WITH TEXT ON THE LEFT */



/* MATH FORMULA */
div.formula{
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  font-size: 1.4em;
  text-align: center;
}
/* END MATH FORMULA */



/* ADDRESS */
address{
  font-size: 1em;
  text-align: justify;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 5%;
  padding-bottom: 0.5%;
}
/* END ADDRESS */



/* BOXES FOR HOMPAGES */
div.homepagebox {
  margin-left: 5%;
  margin-right: 10%;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.homepagebox a {
  flex-basis: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  text-decoration: none;
  padding: 1px;
  border-radius: 25px;
  background-color: grey;
  color: white;
  transition: background-color 0.5s;
  margin-bottom: 2%;
  font-size: 1.1em;
}

div.homepagebox a:hover{
  background-color: rgb(0, 174, 255);
  border-radius: 25px;
  transition: background-color 0.5s;
}
/* END BOXES FOR HOMPAGES */



/* STYLES (by Stefano Taillefert) FOR QUIZ PAGE */
/* .margin20 {
  margin-bottom: 20px;
}

.margin50 {
  margin-bottom: 50px;
}

.vMid {
  vertical-align: middle;
}

.button {
  border: #000 solid 2px;
  width: fit-content;
  margin: auto;
  padding: 7.5px;
  margin-bottom: 2.5%;
  transition: 0.6s;
  cursor: pointer;
  color: #000 !important;
  display: inline-block;
}

.button:hover {
  text-decoration: none !important;
  transform: translateX(10px);
} */
/* END OF STYLES FOR QUIZ PAGE */